<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <style>
    h1 {
        text-align: center;
    }
    p {
      text-align: center;
      font-size: 16px;
    }
    div {
      text-align: center;
    }
  </style>
  <body>
    <img src="cid:unique@logo.png" width="100%"/>
    <p>Dear {{name}},</p>
    <p>Welcome to Hospitility .</p>
    <div><a href="{{link}}" target="_blank">To verify your account, Please Click Here</a></div>
    <p>Thankyou for Choosing Our Platform</p>
    <p>The Hospitility Team</p>
  </body>
</html>