@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type='checkbox']:checked {
  accent-color: #323232;
}
input[type='radio']:checked {
  accent-color: #323232;
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

h1{
  font-family: 'Poppins', sans-serif;
}
p{
  font-family: 'Poppins', sans-serif;
}
button{
  font-family: 'Poppins', sans-serif;


}
body{
  font-family: 'Poppins', sans-serif;


}

